@import "/src/scss/_variables.scss";

.footer{
  max-width: 100%;
  & > div {
    max-width: 1400px;
    margin: auto;
  }
  height: 252px;
  padding: 40px 32px 32px;
  box-shadow: 0 -1px 0 0 #eaebef;
  background-color: $dark-blue-grey;
  bottom: 0;

  @media (max-width: 576px) {
    height: auto;
  }
}

.acknowledgment {
  margin: 0;
  @media (max-width: 576px) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.bottom-links{
  flex-grow: 1;
  position: absolute;
  bottom: 32px;
  right: 32px;
  left: 32px;

  @media (max-width: 576px) {
    > * {
      margin-bottom: 10px;
      padding-left: 0;
    }
    :last-child{
      margin-top: 70px;
    }
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

p {
  margin: 0 !important;
  line-height: 22px !important;
}

a {
  font-weight: bold;
  color: white;
}
