<div class="footer col-12 text-white">
  <div class="row justify-content-sm-between align-content-start">
    <div class="col-12 col-sm pl-0 order-2 order-sm-1 acknowledgment">
      <p>
        We acknowledge the Traditional Owners of country throughout Australia and pay our respects to their Elders past,
        present and emerging.
      </p>
    </div>
    <div class="col-12 col-sm pl-0 pr-0 order-1 order-sm-2">
      <img src="/assets/images/dp-logo-mono.svg"
           class="dp-logo float-sm-right"
           alt="Digital Purpose logo">
    </div>
  </div>
  <div class="row justify-content-sm-end bottom-links">
    <div class="col-12 col-sm-auto order-1 link"><a href="https://www.facebook.com/DigitalPurposeAus/">LinkedIn</a></div>
    <div class="col-12 col-sm-auto order-2 link"><a href="https://www.linkedin.com/company/digital-purpose-australia/">Facebook</a></div>
    <div class="col-12 col-sm-auto order-3 link"><a href="https://twitter.com/DP_Australia">Twitter</a></div>
    <div class="col-12 col-sm align-self-start order-4 order-sm-0 pl-0"><p>Copyright © 2021 Digital Purpose</p></div>
  </div>
</div>
