@import "/src/scss/_variables.scss";

.banner {
  height: 264px;
  padding: 0 0 0 44px;
  border-radius: 8px;
  background-color: $ice-blue;


  @media (max-width: 576px) {
    height: auto;
    padding: 32px 0 0;
  }
}

.banner-img {
  height: 264px;
  padding: 0;
  object-fit: contain;
  object-position: right bottom;
}

.banner-mobile-img {
  position: absolute;
  width: 50%;
  right: 0;
  padding: 0;
  bottom: 0;
  z-index: 0;
}

h2, p, button {
  z-index: 10;
}

h2, p {
  @media (max-width: 576px) {
    text-align: center;
    width: 100%;
    margin-right: 29px;
    margin-left: 29px;
  }
}


.share-button {
  width: 256px;
  height: 48px;
  padding: 12px 0 11px;
  border-radius: 8px;
  background-color: $dark-blue-grey;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;

  @media (max-width: 576px) {
    width: 60%;
    margin: auto auto 40px;
  }
}
