<div class="banner row justify-content-between">
  <div class="col-sm-12 col-md-8 align-self-center">
    <div class="row d-flex">
      <h2>
        Ideas for a better world
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button routerLink="/idea-new" class="share-button">
        Share your idea
      </button>
      <img src="/assets/images/banner-bg-sm.svg" alt="Banner Background" class="col-12 d-sm-none banner-mobile-img">
    </div>
  </div>
  <img src="/assets/images/banner-bg.png"
       srcset="/assets/images/banner-bg@2x.png 2x,
             /assets/images/banner-bg@3x.png 3x"
       class="col-md-4 d-none d-md-block banner-img"
      alt="Banner Background">
</div>
