@import "/src/scss/_variables.scss";

.row, .col {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

input, select, textarea {
  height: 50px;
  width: 100%;
  padding-left: 12px !important;
  margin: 0 0 24.5px 0;
  border-radius: 4px;
  border: solid 1px $borders;
}

select {
  display: block;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: normal;
  color: $inactive;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('/assets/images/chevron-down.svg'), none;
  background-repeat: no-repeat, repeat;
  background-position: right 16px top 13px, 0 0;
  background-size: 24px 24px, 100%;
}

.imagePreview {
  width: 100%;
  height: 225px;
  border-radius: 8px;
  border: solid 1px $borders;
  object-fit: contain;
}

.imagePlaceholder {
  width: 60px;
  height: 60px;
  color: lightslategrey;
  background-color: $lightbackdrop;

  > span {
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    width: 60px;
  }
}

#description {
  height: 180px;
}

.submit {
  width: 190px;
  height: 48px;
  margin-top: 127px;
  @media (max-width: 576px) {
    margin-top: 20px;
  }
}

.error-bar {
  padding: 14px;
  border-radius: 4px;
  border: solid 1px $light-pink;
  background-color: #fff2f3;
  color: $rose;
  margin: 24px 0;
}

.ng-invalid:not(form)  {
  border: 2px solid $light-pink;
}

h6 {
  color: $rose;
}
