<div class="container">
  <a routerLink="/" class="align-top"><span class="material-icons">keyboard_arrow_left</span> Back to ideas</a>
  <h1>How can we better our world?</h1>
  <div *ngFor="let error of errorMessages" class="alert-danger error-bar">
    {{error}}
  </div>
  <form [formGroup]="ideaForm" (submit)="onSubmit()" class="search-form">
    <div class="row px-0 container justify-content-between">

      <div class="col-12 col-sm-7 px-0">

        <label class="row" for="title">
          Title of idea*
          <input required id="title" formControlName="title" type="text">
        </label>

        <label class="row" for="author">
          Your name*
          <input required id="author" formControlName="author" type="text">
        </label>

        <label class="row" for="goal">
          Sustainable Development Goal*
          <select required id="goal" formControlName="goal">
            <option value="" readonly disabled selected>Select one</option>
            <option *ngFor="let goal of goals" [value]="goal.key">{{goal.label}}</option>
          </select>
        </label>

        <label class="row" for="description">
          What is your idea?*
          <textarea required id="description" formControlName="description"></textarea>
        </label>

      </div>
      <div class="col-12 col-sm-4 px-0">

        <label class="row" for="thumbnailUrl">
          Add image to support your idea*
          <input required id="thumbnailUrl" [(ngModel)]="thumbnailUrl" formControlName="thumbnailUrl" placeholder="Enter image URL" type="text">
        </label>
        <div class="row justify-content-center align-content-center">
          <img [src]="thumbnailUrl"
               (load)="onImageLoad()"
               (error)="onImageError()"
               [class.d-none]="!imageLoaded"
               alt=""
               class="imagePreview">
          <div class="imagePreview d-flex align-items-center justify-content-center flex-column"
               *ngIf="!imageLoaded">
            <div class="d-flex align-items-center rounded-circle imagePlaceholder">
              <span class="material-icons">image</span>
            </div>
            <p>Image preview</p>
          </div>
          <h6 *ngIf="!imageLoaded && thumbnailUrl.length">Error loading image</h6>
        </div>
        <button class="btn submit float-right" type="submit" [disabled]="ideaForm.invalid || sending">Submit Comment</button>
      </div>
    </div>
  </form>
</div>
