.body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.content {
  max-width: 1400px;
  margin-bottom: 252px;

  @media (max-width: 576px) {
    margin: auto auto 500px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
