<div class="container d-flex align-items-center justify-content-center flex-column">
  <h1>
    Thank you for sharing your idea with us!
  </h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ultrices neque ornare aenean euismod elementum.
  </p>
  <button class="btn" routerLink="/">
    Back to home
  </button>
</div>
