@import "scss/typo";
@import "scss/forms";


label {
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: $inactive;
}

.container {
  width: 100vw;
  @media (max-width: 576px) {
    width: 100%;
  }

}

.btn {
  padding: 12px 0 11px;
  border-radius: 8px;
  border: none;
  background-color: $dark-sky-blue;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  cursor: pointer;

  &:disabled {
    background-color: $sky;
    color: #ffffff88;
    cursor: not-allowed;
  }

}
