// brand colours
$aqua: #0fe5c6;
$azure: #0098e9;
$borders: #d5d8df;
$butterscotch: #ffc03d;
$dark-blue-grey: #1a2c4f;
$dark-sky-blue: #45b4ef;
$ice-blue: #e7f5fd;
$inactive: #828b9f;
$lavender: #c89feb;
$light-periwinkle: #d5d8df;
$light-pink: #ffe6e7;
$light-purple: #b47be4;
$light-sky-blue: #d0ecfb;
$light-violet: #dcc3f2;
$lightbackdrop: #f3f4f6;
$off-white: #fff9ed;
$pale-grey: #f8f3fc;
$pale-lavender: #f1e7fa;
$pale-peach: #ffe2a6;
$pale: #fff3db;
$rose: #d16168;
$salmon-pink: #ff767e;
$sky: #8bd0f5;

// theme colours
$default-text: $dark-blue-grey;
$placeholder-text: $inactive;
$default-border: $light-periwinkle;

